{% extends "base.html" %}
{% block content %}
<div class="grid-container">
    <a class="box top-left" href='{% url "team" name="management" %}'>
        Management
    </a>
    <a class="box top-right" href='{% url "team" name="community" %}'>
        Community
    </a>
    <a class="box bottom-left" href='{% url "team" name="documentation" %}'>
        Documentation
    </a>
    <a class="box bottom-right" href='{% url "team" name="procurement" %}'>
        Procurement
    </a>
</div>
{% endblock content %}
